.logo {
  display: flex;
  align-items: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

h1 {
  color: MediumAquamarine;
  padding: 0 20px;
}

ul {
  display: flex;
  list-style-type: none;
}

li {
  padding: 0 20px;
}

li a {
  color: black;
  font-weight: bold;
}

h2 {
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
}

h3 {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

h4 {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: black;
}

p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.centered_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  width: 1232px;
}

.column.large {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 630px;
  margin-right: 32px;
}

.story-image {
  background-image: url("css/images/main-story.png");
  /*align-items: left;
  border: 1px solid black;*/
}

.story.one {
  align-items: left;
  border: 1px solid black;
}

.story.two {
  align-items: left;
  border: 1px solid black;
}

.story.three {
  align-items: left;
  border: 1px solid black;
}

.headline.one {
  background-image: url("resources/css/images/fall-season.png");
  align-items: left;
  border: 1px solid black;
}

.headline.two {
  align-items: left;
  border: 1px solid black;
}

.column.medium {
  display: flex;
  flex-direction: column;
  width: 300px;
  border: 1px solid black;
  justify-content: space-between;
  margin-right: 32px;
}

.article.one {
  align-items: left;
  border: 1px solid black;
}

.article.two.image {
  align-items: left;
  border: 1px solid black;
}

.article.two {
  align-items: left;
  border: 1px solid black;
}

.column.small {
  display: flex;
  flex-direction: column;
  width: 240px;
  border: 1px solid black;
}

.cookie {
  align-items: center;
  border: 1px solid black;
}

.cookie.story {
  align-items: left;
  border: 1px solid black;
}
